.Phonetic {
    text-align: center;
} 

.Phonetic a {
    text-decoration: none;
    color: #dc8c38;
    font-weight: 700;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 14px;
    font-size: 18px;
}

.Phonetic .text {
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0;
}

@media (max-width: 700px) {
    
    .Phonetic .text {
    font-size: 18px;
    } 
  }