.Photos section {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 40px 20px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
   }

   .Photos img {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 700px) {
      
    .Photos section {
        padding: 20px 30px 10px;
    }
    .Photos img {
        border-radius: 6px;
        margin-bottom: 10px;
      }
  }