.Synonyms {
    margin: 20px 0 0;
    padding: 0;
}

.Synonyms li {
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    display: inline-block;
    padding-right: 15px;
    line-height: 1.2;
}

@media (max-width: 700px) {
    
    .Synonyms {
        margin: 15px 0 0;
    }
    .Synonyms li {
      font-size: 14px;
      padding-right: 10px;
    }
    
  }